<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <!-- MIKROQARZ-->
                <div class="sb-sidenav-menu-heading">STEP Mikroqarz</div>
                <a class="nav-link {% if request.path == '/stepform/step_contract/mikroqarz/' %} active {% endif %}"
                   href="{% url 'step_contract' 'mikroqarz' %}">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-file-circle-plus"></i></div>
                    Shartnoma kiritish
                </a>

                <!-- MIKROKREDIT-->
                <div class="sb-sidenav-menu-heading">STEP Mikrokredit</div>
                <a class="nav-link {% if request.path == '/stepform/step_contract/mikrokredit/' %} active {% endif %}"
                   href="{% url 'step_contract' 'mikrokredit' %}">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-file-circle-plus"></i></div>
                    Shartnoma kiritish
                </a>

                <!-- SUGURTA-->
                <div class="sb-sidenav-menu-heading">STEP Sugurta</div>
                <a class="nav-link {% if request.path == '/stepform/step_contract/sugurta/' %} active {% endif %}"
                   href="{% url 'step_contract' 'sugurta' %}">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-file-circle-plus"></i></div>
                    Shartnoma kiritish
                </a>

                <!-- OPERATOR Shartnomalar ro'yxati-->
                {% for group in user_groups %}
                    {% if group.name == 'operator' %}
                        <div class="sb-sidenav-menu-heading">OPERATOR</div>
                        <a class="nav-link  {% if request.path == '/stepform/operator_list/' %} active {% endif %}"
                           href="{% url 'operator_list' %}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-list-check"></i></div>
                            Barcha shartnomalar
                        </a>
                    {% endif %}
                {% endfor %}


                <!-- MODERATOR-->

                {% for group in user_groups %}
                    {% if group.name == 'moderator' or group.name == 'admin' %}
                        <div class="sb-sidenav-menu-heading">Moderator</div>
                        <a class="nav-link {% if request.path == '/stepform/moderator_list/' %} active {% endif %} "
                           href="{% url 'moderator_list' %}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-file-signature"></i></div>
                            Shartnomalar
                        </a>
                    {% endif %}
                {% endfor %}

                <!-- DIREKTOR-->

                {% for group in user_groups %}
                    {% if group.name == 'direktor' or group.name == 'admin' %}
                        <div class="sb-sidenav-menu-heading">Direktor</div>
                        <a class="nav-link {% if request.path == '/stepform/direktor_list/' %} active {% endif %}  "
                           href="{% url 'direktor_list' %}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-file-signature"></i></div>
                            Shartnomalar
                        </a>
                    {% endif %}
                {% endfor %}

            </div>

        </div>


        <div class="sb-sidenav-footer">
            <div class="small">Account: {{ request.user }}</div>
        </div>
    </nav>
</div>