{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <h3 class="mt-2">Operator sahifasi</h3>
    <div class="card mt-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple" class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Shartnoma</th>
                    <th>Mijoz</th>
                    <th>Passport</th>
                    <th>Kredit summasi</th>
                    <th>Kredit turi</th>
                    <th>Garov</th>
                    <th>Hujjatlar</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in reports %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'mikroqarz_detail' obj.pk %}">
                                № {{ obj.meta.contract.contract_date }} yildagi {{ obj.meta.contract.contract_number }}
                            </a> <br>

                        </td>
                        <td>{{ obj.meta.customer.customer_fullname_initials }}</td>
                        <td>{{ obj.meta.customer.customer_document }}</td>
                        <td>{{ obj.meta.contract.credit_loan_total | intcomma }} so'm</td>
                        <td>

                            {% if obj.meta.contract.credit_type == 'mikroqarz' %}
                                <span style="color: #0a53be; font-weight: bold">MIKROQARZ</span>
                                {% elif obj.meta.contract.credit_type == 'mikrokredit' %}
                                <span style="color: #a52834; font-weight: bold">MIKROKREDIT</span>
                            {% endif %}
                        </td>
                        <td>
                            <span>Model: {{ obj.meta.pledge.pledge_modelName }}</span> <br>
                            <span>Yili: {{ obj.meta.pledge.pledge_issueYear }} yil</span> <br>
                            <span>Davlat raqami: {{ obj.meta.pledge.pledge_govNumber }}</span>
                        </td>
                        <td>
                            {% if obj.moderator_signature == False and obj.direktor_signature == False %}
                                <span class="btn btn-warning btn-sm text-uppercase">Moderatorda</span>
                            {% endif %}
                            {% if obj.moderator_signature == True and obj.direktor_signature == False %}
                                <span class="btn btn-success btn-sm text-uppercase">Direktorda</span>
                            {% endif %}

                            {% if obj.direktor_signature == True %}
                                1. <a href="{{ obj.shartnoma_pdf.url }}" target="_blank">Shartnoma</a> <br>
                                2. <a href="{{ obj.buyruq_pdf.url }}" target="_blank">Buyruq</a> <br>
                                3. <a href="{{ obj.dalolatnoma_pdf.url }}" target="_blank">Dalolatnoma</a> <br>
                                4. <a href="{{ obj.grafik_pdf.url }}" target="_blank">Grafik</a> <br>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>



{% endblock %}

{% block JavaScript %}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %} "></script>
{% endblock %}

