{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <h3 class="mt-2">Moderator sahifasi</h3>
    <div class="card mt-2">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Shartnomalar
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Shartnoma</th>
                    <th>Mijoz</th>
                    <th>Kredit</th>
                    <th>Garov</th>
                    <th>Progress</th>
                    <th>Imzolanish holati</th>
                    <th>Hujjatlar</th>
                </tr>
                </thead>

                <tbody>
                {% for obj in applications %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <i class="fa-solid fa-file-lines"></i><span
                                class="fw-bold"> {{ obj.meta.contract.contract_number }}</span> <br>
                            <i class="fa-regular fa-calendar me-1"></i>{{ obj.meta.contract.contract_date }} yil <br>
                            {% if obj.meta.pledge.pledge_is_owner == 'yes' %}
                                <i class="fa-solid fa-file me-1"></i>STANDART
                            {% elif obj.meta.pledge.pledge_is_owner == 'no' %}
                                <i class="fa-solid fa-file me-1"></i>ISHONCHNOMA
                            {% endif %}
                        </td>
                        <td>
                            <i class="fa-solid fa-user me-1"></i> {{ obj.meta.customer.customer_fullname_initials }}
                            <br>
                            <i class="fa-solid fa-passport me-2"></i>{{ obj.meta.customer.customer_document }} <br>
                            <i class="fa-solid fa-address-book me-2"></i>{{ obj.meta.customer.customer_passport_pinfl }}
                            <br>
                            <i class="fa-solid fa-child-reaching me-2"></i>{{ obj.meta.customer.customer_birthDate }}
                            yil
                            <br>
                            <i class="fa-solid fa-phone me-1"></i>{{ obj.meta.customer.customer_phone1 }}
                        </td>
                        <td>
                            <i class="fa-solid fa-file-invoice-dollar me-1"></i>{{ obj.meta.contract.credit_loan_total }}
                            so'm <br>
                            <i class="fa-solid fa-file-code me-1"></i>
                            <span class="text text-uppercase"
                                  style="color: darkred">{{ obj.meta.contract.credit_type }}</span>
                        </td>

                        <td>
                            <i class="fa-solid fa-car me-1"></i>{{ obj.meta.pledge.pledge_modelName }} <br>
                            <i class="fa-solid fa-paint-roller me-1"></i>{{ obj.meta.pledge.pledge_vehicleColor }} <br>
                            <i class="fa-solid fa-car-on me-1"></i>{{ obj.meta.pledge.pledge_govNumber }}
                        </td>

                        <td>
                            <div class="progress">
                                <div class="progress-bar
                                    {% if obj.sum_signatures < 50 %}
                                        bg-danger
                                    {% elif obj.sum_signatures >= 50 and obj.sum_signatures < 75 %}
                                        bg-warning
                                    {% elif obj.sum_signatures > 75 %}
                                        bg-success
                                    {% endif %}
                                " role="progressbar"
                                     style="width: {{ obj.sum_signatures }}%;" aria-valuenow="{{ obj.sum_signatures }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    {{ obj.sum_signatures }}%
                                </div>
                            </div>
                        </td>
                        <td>
                            {% if obj.moderator_signature == False %}
                                <i class="fa-solid fa-file-signature me-1"></i>
                                <span class="text text-danger text-uppercase">Moderatorda</span> <br>
                            {% endif %}
                            {% if obj.loan_head_signature == False %}
                                <i class="fa-solid fa-file-signature me-1"></i>
                                <span class="text text-danger text-uppercase">Kreditlash bo’limida</span> <br>
                            {% endif %}
                            {% if obj.monitoring_head_signature == False %}
                                <i class="fa-solid fa-file-signature me-1"></i>
                                <span class="text text-danger text-uppercase">Monitoring bo’limida</span> <br>
                            {% endif %}
                            {% if obj.direktor_signature == False %}
                                <i class="fa-solid fa-file-signature me-1"></i>
                                <span class="text text-danger text-uppercase">Direktorda</span> <br>
                            {% endif %}

                            {% if obj.sum_signatures == 100 %}
                                <i class="fa-solid fa-file-circle-check"></i> IMZOLANGAN
                            {% endif %}
                        </td>
                        <td>
                            {% if obj.moderator_signature == False %}
                                <a href="{% url 'moderator_form' obj.pk %}" class="btn btn-outline-success btn-sm">IMZOLASH</a>
                            {% elif obj.sum_signatures == 100 %}
                                {% with doc=docs_dict|get_item:obj.id %}
                                {% if doc %}
                                         1. <a href="{{ doc.pdf_shartnoma.url }}" target="_blank">Shartnoma</a> <br>
                                        2. <a href="{{ doc.pdf_buyruq.url }}" target="_blank">Buyruq</a> <br>
                                        3. <a href="{{ doc.pdf_bayonnoma.url }}" target="_blank">Bayonnoma</a> <br>
                                        4. <a href="{{ doc.pdf_xulosa.url }}" target="_blank">Xulosa</a> <br>
                                        5. <a href="{{ doc.pdf_dalolatnoma.url }}" target="_blank">Dalolatnoma</a> <br>
                                        6. <a href="{{ doc.pdf_grafik.url }}" target="_blank">Grafik</a> <br>
                                        7. <a href="{{ doc.pdf_ariza.url }}" target="_blank">Ariza</a> <br>
                                        8. <a href="{{ doc.pdf_muqova.url }}" target="_blank">Muqova</a> <br>
                                        9. <a href="{{ doc.pdf_mijoz_anketasi.url }}" target="_blank">Mijoz anketasi</a>
                                        <br>
                                        10.
                                        <a href="{{ doc.pdf_majburiyatnoma.url }}" target="_blank">Majburiyatnoma</a>
                                        <br>
                                        11. <a href="{{ doc.pdf_kredit_ariza.url }}" target="_blank">Kredit ariza</a>
                                        <br>
                                        12. <a href="{{ doc.pdf_garov_ariza.url }}" target="_blank">Garov ariza</a> <br>
                                        13.<a href="{{ doc.pdf_akt_monitoring_1.url }}" target="_blank">AKT monitoring
                                        1</a> <br>
                                        14.<a href="{{ doc.pdf_akt_monitoring_2.url }}" target="_blank">AKT monitoring
                                        2</a> <br>
                                        15.<a href="{{ doc.pdf_akt_monitoring_3.url }}" target="_blank">AKT monitoring
                                        3</a> <br>
                                        16.<a href="{{ doc.pdf_akt_monitoring_4.url }}" target="_blank">AKT monitoring
                                        4</a> <br>
                                        17.<a href="{{ doc.pdf_notarius.url }}" target="_blank">Notariusga xat</a>
                                        <br>
                                {% endif %}
                                {% endwith %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            
            {% include 'includes/pagination.html' %}
        </div>
    </div>



{% endblock %}

{% block JavaScript %}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %} "></script>
{% endblock %}

