{% extends 'base.html' %}

{% block content %}
    {% if credit_type == 'mikroqarz' %}
        <h1>Mikroqarz shartnomasini kiritish</h1>
    {% elif credit_type == 'mikrokredit' %}
        <h1>Mikrokredit shartnomasini kiritish</h1>
    {% elif credit_type == 'sugurta' %}
        <h1>Sugurta polisi garovi asosida shartnomani kiritish</h1>
    {% endif %}
    <div id="app">
        <div class="alert alert-warning">STEP {{ step }}</div>
        <h3>{{ step_contract_data }}</h3>
        <form action="." method="post">
            {% csrf_token %}
            <div class="card mt-2">
                <div class="card-header">Mijoz ma'lumotlari</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label">Pasport</label>
                            <input type="text" class="form-control" v-model="customer.customer_document"
                                   id="customer_document" required name="customer_document">
                        </div>
                        <div class="col-md-3">
                            <label for="inputPassword4" class="form-label">JSSHIR</label>
                            <input type="text" class="form-control" v-model="customer.customer_passport_pinfl"
                                   id="customer_passport_pinfl" required name="customer_passport_pinfl">
                        </div>
                        <div class="col-md-3">
                            <label for="inputPassword4" class="form-label">Tug'ilgan sana</label>
                            <input type="text" class="form-control" v-model="customer.customer_birthDate"
                                   id="customer_birthDate" required name="customer_birthDate">
                        </div>
                        <div class="col-md-3 ">
                            <label for="">Tugmani bosing</label> <br>
                            <button type="button" class="btn w-50 btn-info mt-2" @click="get_person">Izlash</button>
                        </div>
                        <br>
                        <hr class="mt-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">FIO</label>
                                <input type="text" class="form-control" v-model="customer.customer_fullname"
                                       name="customer_fullname">
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">Manzili</label>
                                <input type="text" class="form-control" v-model="customer.customer_address"
                                       name="customer_address">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Initsial</label>
                                <input type="text" class="form-control"
                                       v-model="customer.customer_fullname_initials"
                                       name="customer_fullname_initials"
                                >
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label class="form-label">Kim tomonidan berilgan</label>
                                <input type="text" class="form-control" v-model="customer.customer_issuedBy"
                                       name="customer_issuedBy"
                                >
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Berilgan sana</label>
                                <input type="text" class="form-control" v-model="customer.customer_startDate"
                                       name="customer_startDate"
                                >
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Amal qilish muddati</label>
                                <input type="text" class="form-control" v-model="customer.customer_endDate"
                                       name="customer_endDate"
                                >
                            </div>

                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label class="form-label">Ish joyi va lavozimi</label>
                                <input type="text" class="form-control" v-model="customer.customer_position"
                                       id="customer_position" name="customer_position">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Telefon 1</label>
                                <input type="text" class="form-control" v-model="customer.customer_phone1"
                                       id="customer_phone" name="customer_phone1">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Telefon 2</label>
                                <input type="text" class="form-control" v-model="customer.customer_phone2"
                                       id="customer_phone" name="customer_phone2">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Telefon 3</label>
                                <input type="text" class="form-control" v-model="customer.customer_phone3"
                                       id="customer_phone" name="customer_phone3">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label class="form-label">Mijozning o‘rtacha oylik daromadi</label>
                                <input type="text" class="form-control"
                                       v-model="customer.customer_average_monthly_income"
                                       id="average_monthly" name="customer_average_monthly_income"
                                       @change="handleNum2Monthly_income"
                                >
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">So'z bilan</label>
                                <input type="text" class="form-control"
                                       v-model="customer.customer_average_monthly_income_word" readonly
                                       id="customer_average_monthly_income_word"
                                       name="customer_average_monthly_income_word">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">O‘rtacha oylik xarajatlari</label>
                                <input type="text" class="form-control"
                                       v-model="customer.customer_average_monthly_expenses"
                                       id="average_monthly" name="customer_average_monthly_expenses"
                                       @change="handleNum2Monthly_expenses"
                                >
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">So'z bilan</label>
                                <input type="text" class="form-control"
                                       v-model="customer.customer_average_monthly_expenses_word" readonly
                                       id="customer_average_monthly_expenses_word"
                                       name="customer_average_monthly_expenses_word">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <label class="form-label">Birinchi oy uchun toʻlov </label>
                            <input type="text" class="form-control"
                                   v-model="customer.customer_first_principal_payment"
                                   id="average_monthly"
                                   name="customer_first_principal_payment"
                                   @change="handleNum2handleNum2PrincipalPayment"
                            >
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">So'z bilan</label>
                            <input type="text" class="form-control"
                                   v-model="customer.customer_first_principal_payment_word" readonly
                                   id="customer_first_principal_payment_word"
                                   name="customer_first_principal_payment_word">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Keyingi</button>
                </div>
            </div>
            <hr>
            <textarea cols="55" rows="25" class="alert alert-info">[[ customer ]]</textarea>

        </form>

    </div>



{% endblock %}

{% block JavaScript %}
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        //  START NUM TO WORDS
        function numberToWords(num) {
            if (num === 0) return "nol";

            const birliklar = ["", "bir", "ikki", "uch", "to'rt", "besh", "olti", "yetti", "sakkiz", "to'qqiz"];
            const onliklar = ["", "o'n", "yigirma", "o'ttiz", "qirq", "ellik", "oltmish", "yetmish", "sakson", "to'qson"];

            function convertLessThanThousand(n) {
                let result = "";

                if (n >= 100) {
                    result += birliklar[Math.floor(n / 100)] + " yuz ";
                    n %= 100;
                }

                if (n >= 10) {
                    result += onliklar[Math.floor(n / 10)] + " " + birliklar[n % 10] + " ";
                } else {
                    result += birliklar[n] + " ";
                }

                return result.trim();
            }

            let result = "";

            if (num >= 1000000) {
                result += convertLessThanThousand(Math.floor(num / 1000000)) + " million ";
                num %= 1000000;
            }

            if (num >= 1000) {
                result += convertLessThanThousand(Math.floor(num / 1000)) + " ming ";
                num %= 1000;
            }

            result += convertLessThanThousand(num);

            return result.trim();
        }

        // END NUM TO WORDS

        // Vue JS script
        const app = Vue.createApp({
            data() {
                return {
                    message: "Vue3 is working!",
                    isValidated: false,
                    created_by: null,
                    customer: {
                        "customer_passport_series": null,
                        "customer_passport_number": null,
                        "customer_passport_pinfl": "30101862380132",
                        "customer_birthDate": "01.01.1986",
                        "customer_fullname": "",
                        "customer_fullname_initials": null,
                        "customer_document": "AD7009838",
                        "customer_issuedBy": null,
                        "customer_startDate": null,
                        "customer_endDate": null,
                        "customer_address": null,
                        "customer_phone1": Math.floor(Math.random() * 1000000000000), // Math.floor(Math.random() * 1000000000000)
                        "customer_phone2": Math.floor(Math.random() * 1000000000000), // Math.floor(Math.random() * 1000000000000)
                        "customer_phone3": Math.floor(Math.random() * 1000000000000), // Math.floor(Math.random() * 1000000000000)
                        "customer_average_monthly_income": null,
                        "customer_average_monthly_income_word": null,
                        "customer_average_monthly_expenses": null,
                        "customer_average_monthly_expenses_word": null,
                        "customer_position": "Yakka tartibdagi tadbirkorda Yakka tartibdagi tadbirkor",
                        "customer_first_principal_payment": null,
                        "customer_first_principal_payment_word": null,
                    }
                }
            },
            methods: {
                validateForm() {
                    let form = this.$refs.myForm; // Formani olish
                    if (form.checkValidity()) {
                        alert("Forma to‘g‘ri to‘ldirildi ✅");
                        // Shu yerda formani jo‘natish yoki boshqa harakat qilish mumkin
                        this.createContract(this.doc)
                    } else {
                        this.isValidated = true; // Xatolarni ko‘rsatish uchun Bootstrap klassini qo‘shish
                    }
                },

                <!-- START customer_average_monthly_income  -->
                handleNum2Monthly_income() {
                    const monthly_income = Number(this.customer.customer_average_monthly_income.trim().replace(/\s+/g, ""));
                    this.customer.customer_average_monthly_income_word = numberToWords(monthly_income);
                },

                handleNum2Monthly_expenses() {
                    const monthly_expenses = Number(this.customer.customer_average_monthly_expenses.trim().replace(/\s+/g, ""));
                    this.customer.customer_average_monthly_expenses_word = numberToWords(monthly_expenses);
                },

                 handleNum2handleNum2PrincipalPayment() {
                    const principal_payment = Number(this.customer.customer_first_principal_payment.trim().replace(/\s+/g, ""));
                    this.customer.customer_first_principal_payment_word = numberToWords(principal_payment);
                },

                <!-- START GET PERSON V2-->
                get_person: function () {
                    const validatebirthDate = this.customer.customer_birthDate.split(".").reverse().join("-");
                    const person_data = {
                        "transactionId": Math.floor(Math.random() * 1000000),
                        "isConsent": "Y",
                        "senderPinfl": this.customer.customer_passport_pinfl,
                        "document": this.customer.customer_document.toUpperCase(),
                        "birthDate": validatebirthDate
                    }
                    console.log(person_data)
                    const vp2 = this;
                    const config = {
                        headers: {Authorization: `Token 9ddf6eb7106bb6227171d914200148acc8e21675`}
                    };
                    axios.post('http://195.158.9.252:1441/passport_birth_date_v2/', person_data, config)
                        .then(function (response) {
                            if (response.data.result) {
                                data = response.data.result;
                                console.log(data);
                                vp2.customer.customer_passport_pinfl = data.pinfl;
                                vp2.customer.customer_fullname = data.lastNameLatin + ' ' + data.firstNameLatin + ' ' + data.middleNameLatin;
                                vp2.customer.customer_address = data.address;
                                vp2.customer.customer_issuedBy = data.issuedBy;
                                vp2.customer.customer_startDate = data.startDate.split("-").reverse().join(".");
                                vp2.customer.customer_endDate = data.endDate.split("-").reverse().join(".");
                                vp2.customer.customer_fullname_initials = data.firstNameLatin[0] + '.' + data.middleNameLatin[0] + '.' + data.lastNameLatin;

                            } else {
                                console.log("No data")
                            }
                        })
                        .catch(function (error) {
                            alert('V2 Passport malumotlari serverida xatolik');
                            console.log(error);
                        });
                },
                <!-- END GET PERSON -->


            },
            mounted() {
                // Customer document maskasi
                Inputmask("AA9999999", {placeholder: ""}).mask("#customer_document");

                // Customer document maskasi
                Inputmask("99999999999999", {placeholder: ""}).mask("#customer_passport_pinfl");

                // Customer Sana (kun/oy/yil) maskasi
                Inputmask("99.99.9999", {placeholder: "DD.MM.YYYY"}).mask("#customer_birthDate");

                // Telefon raqami maskasi
                Inputmask("+998 (99) 999-99-99").mask("#customer_phone");

                // average_monthly (pul miqdori) maskasi
                Inputmask({
                    alias: "numeric",
                    groupSeparator: " ",
                    autoGroup: true,
                    digits: 2,
                    radixPoint: ".",
                    rightAlign: false
                }).mask("#average_monthly");
            }
        })


        // Delimiters changed to ES6 template string style
        app.config.compilerOptions.delimiters = ['[[', ']]']

        app.mount('#app')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.js"></script>
{% endblock %}