{% extends 'base.html' %}

{% block content %}

    {% if credit_type == 'mikroqarz' %}
        <h1>Mikroqarz shartnomasini kiritish</h1>
    {% elif credit_type == 'mikrokredit' %}
        <h1>Mikrokredit shartnomasini kiritish</h1>
    {% elif credit_type == 'sugurta' %}
        <h1>Sugurta polisi garovi asosida shartnomani kiritish</h1>
    {% endif %}



    <div id="app">
        <h4>[[ message ]]</h4>

        <div class="alert alert-warning">{{ step }} - Shartnoma bosqichi</div>

        <form action="." method="post">
            {% csrf_token %}
            <div class="card mt-2">
                <div class="card-header">Shartnoma ma'lumotlari</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="inputContractNumber" class="form-label">Shartnoma raqami</label>
                            <input type="text" class="form-control"
                                   id="inputContractNumber" required v-model="contract.contract_number"
                                   name="contract_number">
                            <div class="invalid-feedback">
                                Shartnoma raqamini kiriting.
                            </div>

                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Shartnoma sanasi</label>
                            <input type="text" class="form-control" id="contract_date"
                                   required v-model="contract.contract_date"
                                   name="contract_date">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Kredit turi</label>
                            <input type="text" class="form-control text-danger text-uppercase"
                                   id="credit_type" data-type="{{ credit_type }}" value="{{ credit_type }}"
                                   required name="credit_type">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label class="form-label">Kredit boshlanishi</label>
                            <input type="text" class="form-control"
                                   id="credit_start_date" required v-model="contract.credit_start_date"
                                   name="credit_start_date">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Kredit tugashi</label>
                            <input type="text" class="form-control"
                                   id="credit_end_date" required v-model="contract.credit_end_date"
                                   name="credit_end_date">

                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Grafik turi</label>
                            <select class="form-select" name="credit_graphic_type">
                                <option value="annuitet">Annuitet</option>
                                <option value="differensial">Differensial</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <label class="form-label">Kredit summasi</label>
                            <input type="text" class="form-control" v-model="contract.credit_loan_total" required
                                   @change="handleNum2Word" id="credit_loan_total" name="credit_loan_total">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Kredit summasi so'zda</label> <br>
                            <input type="text" class="form-control text-success text-uppercase readonly"
                                   v-model="contract.credit_loan_total_word_uz" name="credit_loan_total_word_uz"
                                   readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Foiz stavkasi (%)</label>
                            <input type="number" class="form-control" v-model="contract.credit_percent" required
                                   @change="handleNum2Word" required name="credit_percent">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Foiz stavkasi so'zda</label>
                            <input type="text" class="form-control text-success text-uppercase readonly"
                                   v-model="contract.credit_percent_word_uz" name="credit_percent_word_uz"
                                   readonly>
                        </div>

                        <div class="col-md-2">
                            <label class="form-label">Mikroqarz muddati (oy)</label>
                            <input type="number" class="form-control" v-model="contract.credit_term" required
                                   @change="handleNum2Word" required name="credit_term">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Mikroqarz muddati so'zda</label>
                            <input type="text" class="form-control text-success text-uppercase readonly"
                                   v-model="contract.credit_term_word_uz" name="credit_term_word_uz"
                                   readonly>
                        </div>
                    </div>

                    <div v-show="contract.credit_type == 'sugurta' ">
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label class="form-label">Sugurta mukofoti</label>
                                <input type="text" class="form-control" v-model="contract.insurance_premium" required
                                       @change="handleNum2Insurance" id="insurance_premium" name="insurance_premium">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Sugurta mukofoti so'zda</label> <br>
                                <input type="text" class="form-control text-success text-uppercase readonly"
                                       v-model="contract.insurance_premium_word_uz" name="insurance_premium_word_uz"
                                       readonly>
                            </div>
                        </div>
                    </div>

                    <!-- SUGURTA -->


                    <button type="submit" class="btn btn-primary mt-4">Keyingi</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}

{% block JavaScript %}
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        //  START NUM TO WORDS
        function numberToWords(num) {
            if (num === 0) return "nol";

            const birliklar = ["", "bir", "ikki", "uch", "to'rt", "besh", "olti", "yetti", "sakkiz", "to'qqiz"];
            const onliklar = ["", "o'n", "yigirma", "o'ttiz", "qirq", "ellik", "oltmish", "yetmish", "sakson", "to'qson"];

            function convertLessThanThousand(n) {
                let result = "";

                if (n >= 100) {
                    result += birliklar[Math.floor(n / 100)] + " yuz ";
                    n %= 100;
                }

                if (n >= 10) {
                    result += onliklar[Math.floor(n / 10)] + " " + birliklar[n % 10] + " ";
                } else {
                    result += birliklar[n] + " ";
                }

                return result.trim();
            }

            let result = "";

            if (num >= 1000000) {
                result += convertLessThanThousand(Math.floor(num / 1000000)) + " million ";
                num %= 1000000;
            }

            if (num >= 1000) {
                result += convertLessThanThousand(Math.floor(num / 1000)) + " ming ";
                num %= 1000;
            }

            result += convertLessThanThousand(num);

            return result.trim();
        }

        // END NUM TO WORDS

        // Vue JS script
        const app = Vue.createApp({
            data() {
                return {
                    message: "Vue3 is working!",
                    isValidated: false,
                    created_by: null,
                    type: null,
                    contract: {
                        "contract_number": Math.floor(Math.random() * 100) + "-MZ",
                        "contract_date": "04.03.2025",
                        "credit_loan_total": null,
                        "credit_loan_total_word_uz": null,
                        "credit_start_date": "04.03.2025",
                        "credit_end_date": "03.03.2026",
                        "credit_percent": 60,
                        "credit_percent_word_uz": null,
                        "credit_term": 12,
                        "credit_term_word_uz": null,
                        "credit_graphic_type": "Annuitet",
                        "insurance_premium": null,
                        "insurance_premium_word_uz": null,
                        "credit_type": null,
                    },
                }
            },
            methods: {

                handleNum2Word() {
                    const credit_loan_total = Number(this.contract.credit_loan_total.trim().replace(/\s+/g, ""));
                    this.contract.credit_loan_total_word_uz = numberToWords(credit_loan_total);
                    this.contract.credit_percent_word_uz = numberToWords(Number(this.contract.credit_percent));
                    this.contract.credit_term_word_uz = numberToWords(Number(this.contract.credit_term));
                },

                handleNum2Insurance() {
                    const insurance_premium = Number(this.contract.insurance_premium.trim().replace(/\s+/g, ""));
                    this.contract.insurance_premium_word_uz = numberToWords(insurance_premium);
                },

                validateForm() {
                    let form = this.$refs.myForm; // Formani olish
                    if (form.checkValidity()) {
                        alert("Forma to‘g‘ri to‘ldirildi ✅");
                        // Shu yerda formani jo‘natish yoki boshqa harakat qilish mumkin
                        this.createContract(this.doc)
                    } else {
                        this.isValidated = true; // Xatolarni ko‘rsatish uchun Bootstrap klassini qo‘shish
                    }

                },


            },
            mounted() {
                this.contract.credit_type = document.getElementById("credit_type").dataset.type;
                // Raqam (pul miqdori) maskasi
                Inputmask({
                    alias: "numeric",
                    groupSeparator: " ",
                    autoGroup: true,
                    digits: 2,
                    radixPoint: ".",
                    rightAlign: false
                }).mask("#credit_loan_total");

                // Raqam (pul miqdori) maskasi
                Inputmask({
                    alias: "numeric",
                    groupSeparator: " ",
                    autoGroup: true,
                    digits: 2,
                    radixPoint: ".",
                    rightAlign: false
                }).mask("#insurance_premium");

                // Contract Sana (kun/oy/yil) maskasi
                Inputmask("99.99.9999", {placeholder: "DD.MM.YYYY"}).mask("#contract_date");

                // Contract Sana (kun/oy/yil) maskasi
                Inputmask("99.99.9999", {placeholder: "DD.MM.YYYY"}).mask("#credit_start_date");

                // Contract Sana (kun/oy/yil) maskasi
                Inputmask("99.99.9999", {placeholder: "DD.MM.YYYY"}).mask("#credit_end_date");
            }
        })


        // Delimiters changed to ES6 template string style
        app.config.compilerOptions.delimiters = ['[[', ']]']

        app.mount('#app')
    </script>
{% endblock %}